<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Información Personal</div>
            <p class="paragraph-text justify-text">
               <p>Nombre: Adriana Llanga </p>
               <p>Apellido: Llanga Gagñay</p>
               <p>I.D: 0605170448</p>
               <p>Nacionalidad: Ecuatoriana</p>
               <p>Dirección: Ciudadela "Juan Montalvo"</p>
               <p>Provincia: Chimborazo</p>
               <p>Canton: Riobamba</p>
               <p>Estado Civil: Soltera</p>
               <p>Teléfono Convencional: 03 2317957</p>
               <p>Teléfono celular: 0990503084</p>
               <p>E-mail: adriana.llanga20@gmail.com</p>
           </p>
        </div>
    </section>
</div>
