<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">ESTRUCTURA FAMILIAR</div>
            
                <div class="project-technologies">

   <center>
    <table border="3" >
        <caption> Abuelos </caption>
        <tr>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Lugar de residencia </th>
        
        </tr>
        <tr>
        <td>Miguel </td>
        <td>Gagñay </td>
        <td>Guayaquil </td>
        
        </tr>
        <tr>
        <td>Angelita </td>
        <td>Usca </td>
        <td>Guayaquil </td>
        </tr>

        </tr>
        <tr>
        <td>Homero </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        </tr>

        <tr>
        <td>Rosa </td>
        <td>Amaguaya </td>
        <td>Riobamba </td>
        </tr>

    </table>
    <table border="3" >
        <br>
        <caption> Padres </caption>
        <tr>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Lugar de residencia </th>
        
        </tr>
        <tr>
        <td>Jorge </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        
        </tr>
        <tr>
        <td>Lourdes </td>
        <td>Gagñay </td>
        <td>Riobamba </td>
        </tr>

    </table>
    
    <table border="3" >
        <br>
        <caption> Hermanos </caption>
        <tr>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Lugar de residencia </th>
        
        </tr>
        <tr>
        <td>Santiago </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        
        </tr>
        <tr>
        <td>Gabriela </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        </tr>
        
    </table>
    <table border="3" >
        <br>
        <caption> Tíos </caption>
        <tr>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Lugar de residencia </th>
        
        </tr>
        <tr>
        <td>Martha </td>
        <td>Gagñay </td>
        <td>Riobamba </td>
        
        </tr>
        <tr>
        <td>Olga </td>
        <td>Gagñay </td>
        <td>Riobamba </td>
        </tr>

        </tr>
        <tr>
        <td>Rocio </td>
        <td>Gagñay </td>
        <td>Riobamba </td>
        
        </tr>
        <tr>
        <td>Luis </td>
        <td>Gagñay </td>
        <td>Riobamba </td>
        </tr>
        </tr>
        <tr>
        <td>Pablo </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        
        </tr>
        <tr>
        <td>Norma </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        </tr>
        <tr>
        <td>Susana </td>
        <td>Llanga </td>
        <td>Riobamba </td>
        </tr>
    </table>
    <br><br>
    </center>

               
        </div>
    </section>
</div>
