
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Formación Académica</div>

            
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"></div>
                            <div class="skillbar-bar" style="background: #2980b9;">Formación General Básica</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9;"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db;">Jardín: La Politécnica</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9;"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db">Escuela: "11 de Noviembre"</div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9;"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db;">Bachillerato Académico</div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9;"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db;">Institución: Isabel de Godín</div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db;">Especialidad: Informática</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db">Formación Universitaria</div>
                        </div> <!-- End Skill Bar -->
                        
                         <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db">Institución: Universidad Nacional de Chimborazo</div>
                        </div> <!-- End Skill Bar -->
                        
                         <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #2980b9"><span></span></div>
                            <div class="skillbar-bar" style="background: #3498db">Carrera: Pedagogia en Informática</div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
